{% extends "base.html" %}
{% load static %}

{% block title %}View Appointment{% endblock %}

{% block content %}
<div class="container mt-4">
    

    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Appointment details</h5>
            <small class="text-muted">Created: {{ appointment.created_at|date:"M d, Y H:i" }}</small>
        </div>

        <div class="card-body">
            
            <div class="row mb-3">  
                <div class="col-md-6">
                    <strong>Client</strong>
                    <div>{{ appointment.user.username }}</div>
                </div>
            </div> 

            <div class="row mb-3">
                <div class="col-md-4">
                    <strong>Date</strong>
                    <div>{{ appointment.scheduled_date}}</div>
                </div>
               
                <div class="col-md-4">
                    <strong>Status</strong>
                    <div>
                        {% if appointment.status == "confirmed" %}
                            <span class="badge bg-success">Confirmed</span>
                        {% elif appointment.status == "pending" %}
                            <span class="badge bg-warning text-dark">Pending</span>
                        {% elif appointment.status == "cancelled" %}
                            <span class="badge bg-danger">Cancelled</span>
                        {% else %}
                            <span class="badge bg-secondary">{{ appointment.status }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
             {% if appointment.notes %}
    <div class="row mb-3">
        <div class="col-12">
            <strong>Notes</strong>
            <div>{{ appointment.notes|linebreaks }}</div>
        </div>
    </div>
    {% endif %}

           
        </div>

        <div class="card-footer d-flex gap-2">
            <a href="{% url 'my_appointments' %}" class="btn btn-outline-secondary btn btn-dark">Back to My Appointments</a>

        </div>
    </div>
</div>
{% endblock %}